# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.tus-uploads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore large training files
/public/Training Modules
/public/Training Modules - old
/src/constants/modules - old
# *.pdf
# *.docx
# *.xlsx
# *.xlsm
# *.mp4

/todo
.env
.env.development
.env.local
.env.production
.env.staging

/sliding_cards

Business Development Training_(0825) (1) 1 (1).pptx
Business Development Training_(0825) (1) 1 (1).pdf

*.sql
/supabase
/scripts